body {
  /*background-color: rgb(75,75,75);*/
  background-color: white;
  color: gray;
  background-image: url("/static/images/kaitransparent.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right bottom;
  background-size: auto 100%;
}

a {
    color: gray;
    text-decoration: none;
}

a:active, a:focus, a:hover {
    color: #29c318;
    text-decoration: none;
}

#title-div {
    font-size: 5em;
}

#summary-div {
    font-size: 3em;
    margin: 5% 0 10% 0;
}

#btn-div {
    max-width: 50%;
}

.btn {
    margin-bottom: 10px;
    height: 100px;
    display: block;
}

/* TODO: DRY btns, hover changes using js */
#resume {
    background:transparent url("images/btn-resume.png") no-repeat;
    background-size: contain;
}

#resume:hover {
    background:transparent url("images/btn-resume-hover.png") no-repeat;
    background-size: contain;
}

#github {
    background:transparent url("images/btn-github.png") no-repeat;
    background-size: contain;
}

#github:hover {
    background:transparent url("images/btn-github-hover.png") no-repeat;
    background-size: contain;
}

#linkedin {
    background:transparent url("images/btn-linkedin.png") no-repeat;
    background-size: contain;
}

#linkedin:hover {
    background:transparent url("images/btn-linkedin-hover.png") no-repeat;
    background-size: contain;
}

#twitter {
    background:transparent url("images/btn-twitter.png") no-repeat;
    background-size: contain;
}

#twitter:hover {
    background:transparent url("images/btn-twitter-hover.png") no-repeat;
    background-size: contain;
}

/* For when clump is running */
/*div {
    font-size: 5em;
    position: fixed;
    z-index: 20;
}*/

/*svg {
    z-index: -5;
    position: absolute;
}

circle {
    fill: gray;
}*/