body {
  /*background-color: rgb(75,75,75);*/
  background-color: white;
  background-image: url("/static/images/kaitransparent.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right bottom;
  background-size: auto 100%;
}

/*div {
    font-size: 5em;
    position: fixed;
    z-index: 20;
}*/

text {   
    color: gray;
}

#title {
    font-size: 5em;
}

p {
    font-size: 3em;
}

#btn-div {

}

/*svg {
    z-index: -5;
    position: absolute;
}

circle {
    fill: gray;
}*/