body {
  /*background-color: rgb(75,75,75);*/
  background-color: white;
  background-image: url("/static/images/kaitransparent.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right bottom;
  background-size: auto 100%;
}

/*div {
    font-size: 5em;
    position: fixed;
    z-index: 20;
}*/

text {   
    color: gray;
}

#title-div {
    font-size: 5em;
}

#summary-div {
    font-size: 3em;
    margin: 10% 0 10% 0;
}

#btn-div img {
    width: 100%;
}

/*svg {
    z-index: -5;
    position: absolute;
}

circle {
    fill: gray;
}*/