<!DOCTYPE html>
<meta charset="utf-8">

<head>
	<title>Kai</title>
	<link rel='shortcut icon' type='image/x-icon' href='/static/images/favicon.ico'>
	<script src='https://code.jquery.com/jquery.js'> </script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/webpage.css" rel="stylesheet">
</head>

<body>
  <div class="container-fluid">

  	<div id="text-div">
	    <div class="row">
	      <div class="col-xs-6">
	        <div id="title-div">
	        	I am Kai.
	        </div>
	        <div id="summary-div">
	        	<p>
	        		I write <a href="/clump" target="_blank">code</a>, make 
	        		<a href="https://flic.kr/s/aHskrRF1MK" target="_blank">art</a>, 
	        		<a href="https://flic.kr/s/aHskrNKSHN" target="_blank">adventure</a>, and enjoy the 
	        		<a href="https://flic.kr/s/aHsksknQza" target="_blank">little things</a> in Oakland, CA. 
	        	</p>
	        </div>
	      </div>
	    </div>
  	</div>

    <div id="btn-div">
    	<div class="row">
    		<div class="col-md-6 col-xs-12">
    			<a href="/static/KaiDalgleishWebResume.pdf" target="_blank" class="btn" id="resume"></a>
    		</div>
    	</div>
      <div class="row">
  	    <div class="col-md-2 col-xs-12">
    	  	<a href="https://github.com/KaiDalgleish" target="_blank" class="btn" id="github"></a>
    	  </div>
  	    <div class="col-md-2 col-xs-12">
    	  	<a href="https://www.linkedin.com/in/kaidalgleish" target="_blank" class="btn" id="linkedin"></a>
    	  </div>
  	    <div class="col-md-2 col-xs-12">
    	  	<a href="https://twitter.com/kaidalgleish" target="_blank" class="btn" id="twitter"></a>
    	  </div>
    	</div>
  	</div>

  </div>

  <script src="/static/easteregg.js"></script>
</body>
