<!DOCTYPE html>
<meta charset="utf-8">

<head>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/webpage.css" rel="stylesheet">
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-6">
        <div id="title">
        	I am Kai
        </div>
        <div>
        	<p>
        		Here's some things about me
        	</p>
        <div id="btn-div">
	      <button>Github</button>
	      <button>Linkedin</button>
	      <button>Resume</button>
      	</div>
      </div>
      <!-- <div class="col-xs-3"> -->
      	<!-- <img src="/static/images/kaitransparent.png" id="headshot"> -->
      <!-- </div> -->
        </div>

    </div>

  <script src="/static/easteregg.js"></script>
</body>
