<!DOCTYPE html>
<meta charset="utf-8">

<head>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/webpage.css" rel="stylesheet">
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-6">
        <div id="title">
        	I am Kai
        </div>
        <div>
        	<p>
        		I write code, make <a href="https://www.flickr.com/photos/101281237@N03/albums/72157662871797221">art</a>, <a href="https://www.flickr.com/photos/101281237@N03/albums/72157662838796152">adventure</a>, keep bees, and enjoy the little things in Oakland, CA.
        	</p>
        <div id="btn-div">
          <div class="row">
      	    <div class="col-xs-3">
	      	  	<button>Github</button>
	      	  </div>
      	    <div class="col-xs-3">
	      	  	<button>Resume</button>
	      	  </div>
      	    <div class="col-xs-3">
	      	  	<button>Linkedin</button>
	      	  </div>
	      	</div>
      	</div>
      </div>
      <!-- <div class="col-xs-3"> -->
      	<!-- <img src="/static/images/kaitransparent.png" id="headshot"> -->
      <!-- </div> -->
        </div>

    </div>

  <script src="/static/easteregg.js"></script>
</body>
